root { 
    display: block;
}


html {
    margin: 0;
    padding: 0;    
}

body { 
    background-repeat: no-repeat;
    background-position:right top;
    font: Open Sans, sans-serif;
    line-height: 2;
    background-color: #FFFFFF;
    color: #333; 
    margin: 0; 
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

.bandeau_haut {
    display:block;
    height: 110px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    background: #FFF none repeat scroll 0% 0%;

    margin-left: -10%;
    margin-right: -10%;

}

.bandeau_haut img {
    width: 100px;
}

nav, 
section, 
article, 
aside, 
footer {
    display: block
}

header {
    color: #FFFFFF;
    font-size: 16pt;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

article {
    background-color: #FFFFFF;
    padding: 0px 0px 20px 0px;
    background-repeat: repeat;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 5pt;
    border-bottom-style: solid;
    border-bottom-color: #F39200;
}

article header {
    text-decoration: none;
    background-color: #EEE;
    border-radius: 4px;
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #337AB7;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
}

article a {
    color: #428BCA;
    text-decoration: none;
    background-color: #FFFFFF;
}

article a:hover{
    outline: thin dotted;
    color: #FFF;
    background-color: #428BCA;
}

article p {
    max-width: 600px;
    padding-left: auto;
    padding-right: auto;
}

footer {
    font: cursive;
    color: #333;
    background-color: #F5F5F5;
    margin-top: 10px;
    font-size: 14px;
}


h3 {
    padding-left : 15pt;
    padding-right : 10pt;
    margin-top: 10pt;
    font-size: 11pt;
    color: #337AB7;
}

h2 {
    padding-left : 10pt;
    padding-right : 10pt;
    margin-top: 10pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    font-size: 12pt;
    font-weight: bold;
    color: #337AB7;


}

h1 {
    font: cursive;
    color: #CCCCCC;
    background-image: linear-gradient(to right, #42437D 0%, #20E4FE 130%);
    font-size: 16pt;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
    padding: 7px 15px;
}




img {border: 0; padding: auto; margin:0;}


.droite { border: 0; 
          max-width: 600px;
          float: right;}

.logo {
    max-width: 100px;
}



p {
    line-height: 1.2;
    font-size: 11pt;
    padding-left: 20pt;
}

ul {
    padding-left: 50pt;
    list-style-type: square;
    line-height: 1.5;
}

