@import url("./jQuery/jquery-ui.css");

body .container-fluid{
  padding-top: 50px;
	height: 100%;
	width:100%;
}
html {
height: 100%;
width: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#formulaire {
	text-align: center;
}


button[class="btn btn-success"]{
background-color : #0d0d0d;
border-color:#1a1a1a;
}

.btn-success:active {
    background-color: #191919;
	color: #E6E6E6;
}

.btn-success:active:focus {
  color:  #E6E6E6;
  background-color: #191919; 
}

.btn-success:target {
    background-color:  #E6E6E6;
color:black;
}

.btn-success:hover {
    background-color:  #E6E6E6;
border-color:  #F2F2F2;
color:black;
}

#contenuOnglet1 {
height:700px;
}

#map
{
    height:100%;
}
#mpaparagraph {
height: 100%
}

[type='radio'] {
display: none; 
width:100%;
}


.inputpicard {width:50%;}

.TradClass{
    border: 1px solid;
    border-radius: 12px;
	padding-left: 10px;
}
}

