@import url("./jQuery/jquery-ui.css");

body .container-fluid{
  padding-top: 50px;
	height: 100%;
	width:100%;
}
html {
height: 100%;
width: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}



#contenuOnglet1 {
height:700px;
}

#map
{
    height:100%;
}
#mpaparagraph {
height: 100%
}


