@import url("./jQuery/jquery-ui.css");

body .container-fluid{
  padding-top: 50px;
	height: 100%;
	width:100%;
}
html {
height: 100%;
width: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#formulaire {
	text-align: center;
}


button[class="btn btn-success"]{
background-color : #0d0d0d;
border-color:#1a1a1a;
}

.btn-success:active {
    background-color: black;
color:black;
}

.btn-success:target {
    background-color: black;
color:black;
}

.btn-success:hover {
    background-color: white;
border-color: white;
color:black;
}

#contenuOnglet1 {
height:700px;
}

#map
{
    height:100%;
}
#mpaparagraph {
height: 100%
}


